/* Reset básico */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Organização visual */
body {
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

.exemplo {
    margin-bottom: 40px;
}

/* Caixa base */
.box {
    background-color: lightblue;
    border: 2px solid blue;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

/* BLOCK */
.block {
    display: block;
    width: 300px;
}

/* INLINE */
.inline {
    display: inline;
    width: 300px; /* NÃO FUNCIONA */
    height: 100px; /* NÃO FUNCIONA */
}

/* INLINE-BLOCK */
.inline-block {
    display: inline-block;
    width: 200px;
    height: 100px;
}
