@charset "UTF-8";

/* Em HTML é id = em CSS é #
   Em HTML é class = em CSS é .
*/

body {
    background-color: rgb(137, 136, 136);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(49, 6, 88);
}

#principal {
    color: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}

h2 {
    color: rgb(66, 53, 78);
}

.basico {
    color: green;
}

.intermediario {
    color: goldenrod;
}

.avancado {
    color: red;
}
